.settings {
  background-color: lightgray;
}
.settings .alert {
  display: none;
}

.settings .row {
  margin: 15px;
}

.editor-pane {
  padding-right:0px;
}
.output-pane {
  padding-left:0px;
}

.editor-pane textarea {
  border: 0px;
  background-color: #282c34;
  border-radius: 0px;
  color: #abb2bf
}

.output-pane textarea {
  border: 0px;
  background-color: #abb2bf;
  border-radius: 0px;
  color: #282c34;
}

.output-pane .alert {
  display: none;
  margin: 0px;
  border-radius: 0px;
}
